# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Logs
*.log

# Node / Frontend
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db